# List is a collection which is ordered and changeable. Allows duplicate members. Lists are used to store multiple items in a single varible. Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage. Lists are created using square brackets

In [1]:
fruit_list = ["Apple", "Banana", "Cherry"]
print(fruit_list)

['Apple', 'Banana', 'Cherry']

# Ordered - When we say that lists are ordered, it means that the items have a defined order, and that order will not change. Changeable - The list is changeable, meaning that we can change, add, or remove items in a list after it has been created.

# The list() Constructor. It is also possible to use the list() constructor when creating a new list

In [2]:
this_list = list(("Apple", "Banana", "Cherry"))
print(this_list)

['Apple', 'Banana', 'Cherry']

# Access Items

In [6]:
fruit_list = ["Apple", "Banana", "Cherry","Orange", "Kiwi", "Melon", "Mango"]
print("The 1st indexed fruit",fruit_list[1])
print("The last indexed fruit",fruit_list[-1])
print("Start from 2nd indexed and end in 4th indexed",fruit_list[2:5])

The 1st indexed fruit Banana
The last indexed fruit Mango
Start from 2nd indexed and end in 4th indexed ['Cherry', 'Orange', 'Kiwi']

# Check if Item Exists

In [7]:
fruit_list = ["Apple", "Banana", "Cherry","Orange", "Kiwi", "Melon", "Mango"]
if "Apple" in fruit_list:
    print("YES, 'Apple' is in the fruits list")
if "Jackfruit" in fruit_list:
    print("YES, 'Jackfruit' is in the fruits list")
else:
    print("NO, 'Jackfruit' is not in the fruits list")

YES, 'Apple' is in the fruits list
NO, 'Jackfruit' is not in the fruits list

# Change List Items

In [11]:
fruit_list = ["Apple", "Banana", "Cherry","Orange", "Kiwi", "Melon", "Mango"]
fruit_list[4] = "Jackfruit"
print(fruit_list)

fruit_list[5:] = ["Watermelon", "Blackcurrant"]
print(fruit_list)

fruit_list[5:] = ["Mango"]
print(fruit_list)

['Apple', 'Banana', 'Cherry', 'Orange', 'Jackfruit', 'Melon', 'Mango']
['Apple', 'Banana', 'Cherry', 'Orange', 'Jackfruit', 'Watermelon', 'Blackcurrant']
['Apple', 'Banana', 'Cherry', 'Orange', 'Jackfruit', 'Mango']

# Insert Items

In [14]:
fruit_list = ["Apple", "Banana", "Cherry","Orange", "Kiwi", "Melon", "Mango"]
fruit_list.insert(2,"Jackfruit")
print(fruit_list)

['Apple', 'Banana', 'Jackfruit', 'Cherry', 'Orange', 'Kiwi', 'Melon', 'Mango']

# Append Items

In [1]:
name_list = ["Arthi","Ayat","Ilham","Pritam"]
name_list.append("Sohel")
print(name_list)

['Arthi', 'Ayat', 'Ilham', 'Pritam', 'Sohel']

# Extend List

In [2]:
name_list1 = ["Arthi", "Ayat", "Ilham", "Pritam"]
name_list2 = ["Sohel", "Shuvo", "Mithu"]
name_list1.extend(name_list2)
print(name_list1)

['Arthi', 'Ayat', 'Ilham', 'Pritam', 'Sohel', 'Shuvo', 'Mithu']

# Add Any Iterable. The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [3]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Remove List Items

In [4]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
print(name_list)
name_list.remove('Pritam')
print(name_list)

['Arthi', 'Ayat', 'Ilham', 'Pritam']
['Arthi', 'Ayat', 'Ilham']

In [5]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
print(name_list)
name_list.pop(0)
print(name_list)

['Arthi', 'Ayat', 'Ilham', 'Pritam']
['Ayat', 'Ilham', 'Pritam']

In [6]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
print(name_list)
name_list.pop()
print(name_list)

['Arthi', 'Ayat', 'Ilham', 'Pritam']
['Arthi', 'Ayat', 'Ilham']

In [7]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
print(name_list)
del name_list[1]
print(name_list)

['Arthi', 'Ayat', 'Ilham', 'Pritam']
['Arthi', 'Ilham', 'Pritam']

In [8]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
print(name_list)
del name_list
print(name_list)

['Arthi', 'Ayat', 'Ilham', 'Pritam']

NameError: name 'name_list' is not defined

In [9]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
print(name_list)
name_list.clear()
print(name_list)

['Arthi', 'Ayat', 'Ilham', 'Pritam']
[]

# Loop through a List

In [10]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
for name in name_list:
    print(name)

Arthi
Ayat
Ilham
Pritam

In [11]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
for i in range(len(name_list)):
    print(name_list[i])

Arthi
Ayat
Ilham
Pritam

## Looping Using List Comprehension. List Comprehension offers the shortest syntax for looping through lists

In [12]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
[print(name) for name in name_list]

Arthi
Ayat
Ilham
Pritam

[None, None, None, None]

## List Comprehension. List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [13]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
new_list = []
for name in name_list:
    if 'r' in name:
        new_list.append(name)
print(new_list)

['Arthi', 'Pritam']

## Using List Comprehension. newlist = [expression for item in iterable if condition == True]

In [14]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
new_list = [name for name in name_list if 'r' in name]
print(new_list)

['Arthi', 'Pritam']

In [15]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
new_list = [name.upper() for name in name_list]
print(new_list)

['ARTHI', 'AYAT', 'ILHAM', 'PRITAM']

In [19]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
new_list = [name if name != 'Arthi' else 'Sohel' for name in name_list]
print(new_list)

['Sohel', 'Ayat', 'Ilham', 'Pritam']

## Sort Lists. By default the sort() method is case sensitive.

In [21]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam", "Sohel", "Shuvo"]
name_list.sort()
print(name_list)

['Arthi', 'Ayat', 'Ilham', 'Pritam', 'Shuvo', 'Sohel']

In [22]:
numbers = [100,50,10,200,1,5]
numbers.sort()
print(numbers)

[1, 5, 10, 50, 100, 200]

## Sort Descending

In [23]:
numbers = [100,50,10,200,1,5]
numbers.sort(reverse = True)
print(numbers)

[200, 100, 50, 10, 5, 1]

## Customize Sort Funtion

In [24]:
# Sort the list based on how close the number is to 50
def cmp(n):
    return abs(n-50)
numbers = [100,50,65,82,23]
numbers.sort(key = cmp)
print(numbers)

[50, 65, 23, 82, 100]

## Perform a case-insensitive sort of the list

In [25]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

## Reverse Order

In [26]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

## Copy Lists

In [27]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
copy_list = name_list.copy()
print(copy_list)

['Arthi', 'Ayat', 'Ilham', 'Pritam']

In [28]:
name_list = ["Arthi", "Ayat", "Ilham", "Pritam"]
copy_list = list(name_list)
print(copy_list)

['Arthi', 'Ayat', 'Ilham', 'Pritam']

## Join Lists

In [29]:
list1 = ['a','b','c']
list2 = [1,2,3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

## Python - List Methods
https://www.w3schools.com/python/python_lists_methods.asp